body {
    background-image: url(https://images5.alphacoders.com/798/798722.png);
    display: flex;
    align-items: center;
}

#text {
    color: #ffffff;
    padding: 10px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: #000000;
    color: #000000;
    margin: 30px auto 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#screen img {
    max-width: 400px;
    display: flex;
    align-items: center;
}

#stats {
    border: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
}

#monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #0a0a23;
    border: 3px solid #ffffff;
}